@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");


.sectionProjects{
  display: none;
}



main {
  padding: 0 64px 64px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
  position: fixed;
  z-index: -1;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9,
.card10,
.card11 {
  border-radius: 12px;
  margin: 20px auto;
  width: 500px;
  max-width: 100%;
  height: 400px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-image: url(../img/eVinho.png);
  background-size: cover;
  cursor: pointer;
  
}

.card2 {
  background-image: url(../img/filmax.png);
  background-size: cover;
}

.card3 {
  background-image: url(../img/Sunnyside.png);
  background-size: cover;
}

.card4 {
  background-image: url(../img/todo-list.png);
  background-size: cover;
  background-position: center;
}

.card5 {
  background-image: url(../img/crespos.png);
  background-size: cover;
}

.card6 {
  background-image: url(../img/ods.png);
  object-fit: cover;
}

.card7 {
  background-image: url(../img/fylo.png);
  background-size: cover;
}

.card8 {
  background-image: url(../img/cura.png);
  background-size: cover;
  background-position: top center;
}

.card9 {
  background-image: url(../img/Api-github.png);
  background-size: cover;
  background-position: center;
}

.card10 {
  background-image: url(../img/Huddle.jpg);
  background-size: cover;
}

.card11 {
  background-image: url(../img/screencapture-luizgsmkw-github-io-pokken-2022-08-04-11_08_35.png);
  background-size: cover;
}

.info {
  position: relative;
  width: 100%;
  height: 400px;
  background: rgba(108, 223, 225, 0.84);
  transform: translateY(100%) translateY(-88px) translateZ(0);
  transition: transform 0.5s ease-out;
  color: #200e2e;
}

.info:before {
  z-index: -1;
  display: block;
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  
  background-image: url(https://source.unsplash.com/collection/905011/1000x1000);
  filter: blur(10px);
  background-size: cover;
  opacity: 0.25;
  transform: translateY(-100%) translateY(88px) translateZ(0);
  transition: transform 0.5s ease-out;
}

.card1:hover .info,
.card2:hover .info,
.card3:hover .info,
.card4:hover .info,
.card5:hover .info,
.card6:hover .info,
.card7:hover .info,
.card8:hover .info,
.card9:hover .info,
.card10:hover .info,
.card11:hover .info,
.card1:hover .info:before,
.card2:hover .info:before,
.card3:hover .info:before,
.card4:hover .info:before,
.card5:hover .info:before,
.card6:hover .info:before,
.card7:hover .info:before,
.card8:hover .info:before,
.card9:hover .info:before,
.card10:hover .info:before,
.card11:hover .info:before {
  transform: translateY(0) translateZ(0);
}

.title {
  margin: 0;
  padding: 24px;
  padding-bottom: 30px;
  font-size: 30px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.87);
}

.titleFilmax{
    font-size: 28px;
}

.description {
  margin: 0;
  padding: 0 24px 24px;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

.projetos{
  margin: 25px;
  text-align: center;
  color: #6CDFE1;
  font-size: 55px;
}


.projects-links{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}

.projects-links a {
  text-decoration: none;
  color: #200e2e;
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: center;
}

.iconGlobal, .iconGitHub{
  font-size: 40px;
  color: #200e2e;
  margin: 0;
  margin-right: 10px;
}

.deploy, .repositorio{
  margin-top: 14px;
}





@media (min-width: 800px) {
  h1 {
    font-size: 4.236em;
    font-weight: 300;
  }
}
p {
  margin-bottom: 1.3em;
  line-height: 1.618;
}

@media (min-width: 800px) {
  p {
    font-size: 1.3em;
  }
}


@media (max-width: 600px) {
  .titleFilmax, .titleWine{
    font-size: 25px;
}

.projects-links{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9,
.card10,
.card11 {
  width: 400px;
}
}

@media (max-width: 490px) {
  .description {
    font-size: 12px;
  }
  .title{
    font-size: 25px;
    padding-bottom: 70px;
  }
  .titleFilmax, .titleWine{
    font-size: 18px;
}
.iconGlobal, .iconGitHub{
  font-size: 30px;
  color: #200e2e;
  margin: 0;
  margin-right: 10px;
}

.deploy, .repositorio{
  font-size: 15px;
  margin-top: 14px;
}
.projects-links{
  padding-left: 5px;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9,
.card10,
.card11 {
  width: 310px;
}
}
