.icon {
  position: absolute;
  z-index: 4;
  left: 90%;
  width: fit-content;
  height: 30px;
  cursor: pointer;
}

.hamburguer {
  top: 0%;
  right: 0%;
  width: 37px;
  height: 3px;
  background-color: #2e2e2e;
  position: absolute;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hamburguer::before {
  top: -12px;
  content: "";
  position: absolute;
  width: 37px;
  height: 3px;
  background-color: #2e2e2e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hamburguer::after {
  top: 12px;
  content: "";
  position: absolute;
  width: 37px;
  height: 3px;
  background-color: #2e2e2e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.list {
  display: flex;
  flex-direction: column;
  left: 1%;
  padding: 80px 0 0;
  flex-wrap: nowrap;
  font-size: 1.2rem;
  font-weight: 600;
}

.listItems {
  padding: 0;
  list-style: none;
}

.listItems li {
  margin: 2px 8px;
  cursor: pointer;
}

.listItems li:hover {
  font-weight: 800;
}

.icon.iconActive .hamburguer {
  background-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.icon.iconActive .hamburguer::after {
  top: 0;
  background: white;
  transform: rotate(225deg);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.icon.iconActive .hamburguer::before {
  top: 0;
  background: white;
  transform: rotate(135deg);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu.menuOpen {
  width: 150px;
  min-height: 100vh;
  background: rgba(108, 223, 225, 0.51);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(19.8px);
  -webkit-backdrop-filter: blur(19.8px);
  border: 1px solid rgba(108, 223, 225, 0.3);
  position: absolute;
  right: 0px;
  top: 0px;
}

.menu.menuClose {
  display: none;
}
